.main-layout {
  display: flex;
  position: relative;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 280px;
  width: calc(100% - 280px);
  transition: margin-left 0.3s ease-in-out;
}

.page-content {
  padding: 30px;
  background-color: #f8f9fa;
  flex-grow: 1;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

/* --- RESPONSIVE LOGIC --- */
@media (max-width: 992px) {
  .content {
    margin-left: 0;
    width: 100%;
  }

  .backdrop {
    display: block;
  }
}
